<div class="container mt-5">
  
  <div class="row text-center mb-4">
    <div class="col">
      
      <h1 class="display-6">
      Edit Details
      </h1>
      <p class="lead">
      Make sure to enter a valid email & username
      </p>

    </div>
  </div>

  <%= render 'students/form' %>

</div>