<div class="container mt-5">
  
  <div class="row">
    <div class="col">
      
      <h1 class="display-6">
      Registration
      </h1>
      <p class="lead">
      Signup to the University Portal using your email
      </p>

    </div>
  </div>

</div>