<footer id="sticky-footer" class="py-3 text-white mt-5">
  
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="text-left">
          &copy Indian Institute of Ruby Science
        </p>
      </div>
      <div class="col">
        <p class="text-end">
          About | Contact Us
        </p>
      </div>
    </div>
  </div>

</footer>