<div class="container mt-5">
  
  <div class="row text-center mb-4">
    <div class="col">
      
      <h1 class="display-6">
      Edit <%= @course.name %>
      </h1>
      <p class="lead">
      Remember to enter the right details
      </p>

    </div>
  </div>

  <%= render 'courses/form' %>

</div>