<div class="container mt-5">
  <h1 class="display-6">
  Course listing
  </h1>
  
  <p class="lead mb-4">
  Browse through the courses available to you.
  </p>
  
  <ul>
    <li>Code: CS111</li>
    <li>Name: Intro to Computer Science</li>
    <li>Description: An introduction to the Computer Sciences for beginners</li>
  </ul>

  <ul>
    <li>Code: CS112</li>
    <li>Name: Advanced Computer Science</li>
    <li>Description: A deep-dive into the Computer Sciences for beginners</li>
  </ul>

</div>