@import "bootstrap";

/* Sticky Footer Classes */

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
  height: 3.5rem;
}

/* Card styling */

.card-body {
  height: 12rem;
}

.card-footer {
  background-color: white;
}

#student-card-body {
  height: 8rem;
}

/* logo styling */

#logo-display {
  height: 35px;
  width: 35px;
  margin-right: 10px;
}

/* header & footer */

#navbar, #sticky-footer {
  background: rgb(102, 102, 102);
}

#login-btn, #logout-btn, #register-btn, #login-btn-form {
  background: #FFDE59;
  color: rgb(29, 29, 29);
}